body{ 
    background-color: black;
}
h1 {
    color: rgb(96, 45, 129);
    text-align: center;
}
h3{
    color: #9159b6;
     text-align: center;
}
p{
    color: rgb(136, 80, 154);
     text-align: center;
}
.capa{
    height: 500;
    background-image: url("fundo.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    /* Esses 0 que se repete e esse rgba é para a imagem ficar mais escura eo 0.5 com um
     pouquinho de transparencia */
    background-image: linear-gradient(
        rgba(0,0,0,0.5)
        rgba(0,0,0,0.5)
    ), url("fundo.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;

}
.capa h2{
    color: #9b59b6;
    font-size: 50px;    
    text-align: center;
    text-shadow: 0 0 10px #9b59b6;
}

.capa p{
    color: white;
    font-size: 20px;

}


.misterios{
    padding: 60px 30px;
    background-color: #0a0a0a;
    text-align: center;
}
.misterios h2{
    color: #9b59b6;
    font-size: 30px;
    margin-bottom: 40px;
}


.cards{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 120px;
}
.card:hover{
    background-color: #431655;
    transform: translateY(-8px);
}

.card{
    width: 250px;
    background-color: #151515;
    border: 1px solid #9b59b6;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    transition: 0.3;
    cursor: pointer;
}

.card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
}

.card h3{
    color: #9b59b6;
    font-size: 22px;
}

.card p{
    color: white;
    padding: 0 15px;
}

.card:hover h3,
.card:hover p{
    color: white;
}

.link-card{
    text-decoration: none;
    color: inherit;
}

 /* Triângulo */

.pagina-bermudas{
    background-color: rgb(4, 4, 31);
}


.titulo-bermudas {
    color: #55396e !important;
    text-align: center;
    /* linha decorativa */
    color: #9b59b6;
    border-bottom: 1px solid #9b59b6;
    padding-bottom: 15px;
}

.triangulo2 {
    color: aliceblue;
    /* caixinha do texto */
    text-align: center;
    font-style: normal;
    text-align: justify;
    background-color:  #8341cf;
    border: 1xp solid #9b9b9b;
    border-radius: 15px;
    padding: 25px;
    max-width: 800px;
    line-height: 1.6;
    max-width: 800px;
    margin: 30px auto;

}

.frase{
   color: aliceblue;
    text-align: center;
    font-size: 20px;
}


.ET1 {
    text-align: center;
    font-style: normal;
    text-align: justify;
    background-color: #8341cf;
    border: 1xp solid #844bc5;
    border-radius: 15px;
    padding: 25px;
    max-width: 800px;
    line-height: 1.6;
    max-width: 800px;
    margin: 30px auto;
    color: aliceblue;
    
}


.ET{
    color: #ad59f7;
    text-align: center;
    /* linha decorativa */
    color: #9b59b6;
    border-bottom: 1px solid #9b59b6;
    padding-bottom: 15px;
    font-size: 50px;    
    text-align: center;
    text-shadow: 0 0 10px #9b59b6;
}

.WOW{
    color:  #9127ee;
    font-size: 40px;    
    text-align: center;
    text-shadow: 0 0 10px #9b59b6;
}

.ETF{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}

.PE{
    text-align: center;
    font-style: normal;
    text-align: justify;
    background-color: #4c1c83;
    border: 1xp solid #844bc5;
    border-radius: 15px;
    padding: 25px;
    max-width: 800px;
    line-height: 1.6;
    max-width: 800px;
    margin: 30px auto;
    color: aliceblue;
}

.pde{
    color:  #9127ee;
    font-size: 40px;    
    text-align: center;
    text-shadow: 0 0 10px #9b59b6;
    color: #9b59b6;
    border-bottom: 1px solid #9b59b6;
    padding-bottom: 15px;
    
}

.sft{ color: #ad59f7;
    text-align: center;
    /* linha decorativa */
    color: #9b59b6;
    border-bottom: 1px solid #9b59b6;
    padding-bottom: 15px;
    font-size: 50px;    
    text-align: center;
    text-shadow: 0 0 10px #9b59b6;
}

.tsft { color: aliceblue;
    text-align: center;
    font-size: 20px;
}

.sft2{
     text-align: center;
    font-style: normal;
    text-align: justify;
    background-color: #8341cf;
    border: 1xp solid #844bc5;
    border-radius: 15px;
    padding: 25px;
    max-width: 800px;
    line-height: 1.6;
    max-width: 800px;
    margin: 30px auto;
    color: aliceblue;
}

.sete{ 
    color: #ad59f7;
    text-align: center;
    /* linha decorativa */
    color: #9b59b6;
    border-bottom: 1px solid #9b59b6;
    padding-bottom: 15px;
    font-size: 50px;    
    text-align: center;
    text-shadow: 0 0 10px #9b59b6;
}

.sete2{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}

.sete3{
     text-align: center;
    font-style: normal;
    text-align: justify;
    background-color: #8341cf;
    border: 1xp solid #844bc5;
    border-radius: 15px;
    padding: 25px;
    max-width: 800px;
    line-height: 1.6;
    max-width: 800px;
    margin: 30px auto;
    color: aliceblue;
}

.back{
    color: #ad59f7;
    text-align: center;
    /* linha decorativa */
    color: #9b59b6;
    border-bottom: 1px solid #9b59b6;
    padding-bottom: 15px;
    font-size: 50px;    
    text-align: center;
    text-shadow: 0 0 10px #9b59b6;
}

.back2{
     color: aliceblue;
    text-align: center;
    font-size: 20px;
}

.back3{
    text-align: center;
    font-style: normal;
    text-align: justify;
    background-color: #8341cf;
    border: 1xp solid #844bc5;
    border-radius: 15px;
    padding: 25px;
    max-width: 800px;
    line-height: 1.6;
    max-width: 800px;
    margin: 30px auto;
    color: aliceblue;
}

.pira{
    color: #ad59f7;
    text-align: center;
    /* linha decorativa */
    color: #9b59b6;
    border-bottom: 1px solid #9b59b6;
    padding-bottom: 15px;
    font-size: 50px;    
    text-align: center;
    text-shadow: 0 0 10px #9b59b6;
}

.pira2{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}

.pira3{
     text-align: center;
    font-style: normal;
    text-align: justify;
    background-color: #8341cf;
    border: 1xp solid #7758c6;
    border-radius: 15px;
    padding: 25px;
    max-width: 800px;
    line-height: 1.6;
    max-width: 800px;
    margin: 30px auto;
    color: aliceblue;
}

.con{
 color: #ad59f7;
    text-align: center;
    /* linha decorativa */
    color: #9b59b6;
    border-bottom: 1px solid #9b59b6;
    padding-bottom: 15px;
    font-size: 50px;    
    text-align: center;
    text-shadow: 0 0 10px #9b59b6;
}

.con2{
     color: rgb(159, 100, 214);
    text-align: center;
    font-size: 20px;
}

.con3{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 768px) {
      .cards{
        grid-template-columns: repeat(2, 1fr)
        gap 15px;
        }
        .card{
            width: 90%;
            margin: auto;
        }
        header{
            padding: 30px 15px;
        }
        h1{
            font-size: 32px;
        }
        h2{
            font-size: 24px;
        }
        p{
            font-size: 16px;
        }
        img{
            max-width: 100%;
            height: auto;
        }
}